body {
    min-width: 1200px;
    min-height: 500px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #280653;
}

.wall {
    position: relative;
    height: 62.5%;
    background-image: radial-gradient(
        circle at bottom center,
        #290a59,
        #ff7c00
    )
}

.torch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 155px;
}

.torch--left {
    left: 0px;
}

.torch--right {
    right: 0px;
    transform: scaleX(-1);
}

    .torch__img {
        width: 195px;
    }

.desk {
    display: flex;
    justify-content: center;
    height: 37.5%;
    background-color: #280653;
}

.monitors {
    display: flex;
}

.monitor {
    position: relative;
    height: 500px;
    width: 466px;
    margin: -275px 35px 0;
}

    .monitor--left {
        margin-right: 40px;
    }

    .monitor--right {
        margin-left: 40px;
    }

@media screen and (max-width: 1350px) {
    .monitors {
        transform: scale(0.85);
    }
    .monitor {
        margin-top: -290px;
    }
}

.monitor-img {
    position: absolute;
    display: block;
    width: 500px;
    height: 466px;
}

.oracle-gif {
    position: absolute;
    display: block;
    width: 381px;
    height: 302px;
    object-fit: cover;
    object-position: 50% 50%;
    top: 42px;
    left: 89px;
    transform: skew(0deg, -4deg);
}

.oracle-gif--fortune {
}

.console {
    position: absolute;
    width: 381px;
    height: 302px;
    object-fit: cover;
    object-position: 50% 50%;
    top: 55px;
    left: 33px;
    transform: skew(0deg, 2deg);
    z-index: 2;
    color: #00C200;
    font-family: monospace;
    font-size: 24px;
    padding-top: 4px;
}

.console-message {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.console-input-box {
    margin-left: 52px;
    width: 272px;
    background: none;
    border: 0;
    color: #00C200;
    font-family: monospace;
    font-size: 24px;
    overflow: hidden;
    resize: none;
    transform: rotate(1deg);
}

.console-input-box:focus {
    outline: 0;
}

.submit-button {
    background-color: transparent;
    border: 2px solid;
    font-family: monospace;
    font-size: 24px;
    color: #00C200;
    transform: rotate(2deg);
    width: 100px;
    transition: color 0.2s;
    margin-left: 131px;
    margin-top: 11px;
}

.submit-button:focus {
    outline: 0;
}

.submit-button:hover {
    color: #89ff89;
    cursor: pointer;
}

.fortune-text {
    display: none;
    position: absolute;
    z-index: 2;
    font-family: monospace;
    font-size: 20px;
    color: #00C200;
    width: 327px;
    height: 260px;
    top: 64px;
    left: 58px;
    transform: skew(0deg, 3deg);
}