body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.wall {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 62.5%;
    background-image: radial-gradient(
        circle at bottom center,
        #290a59,
        #ff7c00
    )
}

.torch--right {
    transform: scaleX(-1);
}

.desk {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 37.5%;
    background-color: #280653;
}

.monitor {
    position: relative;
    height: 500px;
    width: 466px;
    margin: -275px 20px 0 20px;
}

.monitor-img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 500px;
    height: 466px;
}

.oracle-gif {
    position: absolute;
    display: block;
    width: 381px;
    height: 302px;
    object-fit: cover;
    object-position: 50% 50%;
    top: 42px;
    left: 89px;
    transform: skew(0deg, -4deg);
}

.oracle-gif--fortune {
    display: none;
}

.console {
    position: absolute;
    width: 381px;
    height: 302px;
    object-fit: cover;
    object-position: 50% 50%;
    top: 55px;
    left: 33px;
    transform: skew(0deg, 2deg);
    z-index: 2;
    color: green;
    font-family: monospace;
    font-size: 24px;
    padding-top: 4px;
}

.console-message {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.console-input {
    margin-left: 24px;
}